body {
  font-family : Monaco;
}

.init {

  display : flex;
}

.message {
    flex: 2;
}

.action {
  flex: 1;
}


.information {
  display : flex;
}


.current-team {

  flex : 1;
}


.score {
  flex : 1;
  display : flex;
  justify-content: space-between;

}

.card {
  font-size : 74px;
  width : 100%;
  margin : 5px;
  height : 300px;
  background-color : lightgrey;
  border-radius : 22px;
  display : flex;
  justify-content: center;
  align-items: center;

}

button {

  width : 50%;

}

